* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
        ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
        sans-serif;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url(/static/css/back.jpg);
    margin: 0;
}

.login,
.register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1,
.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login .links,
.register .links {
    display: flex;
    padding: 0 15px;
}

.login .links a,
.register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.login .links a:hover,
.register .links a:hover {
    color: #9da3ac;
}

.login .links a.active,
.register .links a.active {
    border-bottom: 3px solid #3274d6;
    color: #3274d6;
}

.login form,
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label,
.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"],
.login form input[type="email"],
.register form input[type="password"],
.register form input[type="text"],
.register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"],
.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover,
.register form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

body.loggedin {
    background-color: #f3f4f7;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    /* border-bottom: 1px solid #e0e0e3; */
    color: #044da0;
    /* backdrop-filter: blur(16px) saturate(180%); */
    /* -webkit-backdrop-filter: blur(16px) saturate(180%); */
    /* background-color: rgba(176, 192, 221, 0.452); */
}

.content > p,
.content > div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.555);
}

.content > p table td,
.content > div table td {
    padding: 5px;
}

.content > p table td:first-child,
.content > div table td:first-child {
    font-weight: bold;
    color: #0a0a0a;
    padding-right: 15px;
}

.content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
}

.one {
    display: flex;
    position: relative;
}

.one .two {
    width: 225px;
    height: 100%;
    background: hwb(212 12% 13%);
    padding: 30px 0px;
    position: fixed;
}

.one .two h1 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-style: oblique;
    font-weight: bold;
}

.one .two h2 {
    color: #fff;
    text-align: center;
}

.one .two .active {
    background: #0a8032;
}

.one .two ul li {
    text-align: center;
    padding: 15px;
    border-bottom: 0.1px solid white;
    border-top: 0.1px solid white;
}

.one .two ul li a {
    color: #ffffff;
    display: block;
}

.one .two ul li a .side {
    width: 25px;
    box-align: center;
}

.one .content {
    width: 100%;
    margin-left: 200px;
}

.one .content .topbar {
    text-align: center;
    padding: 20px;
    /* background: #00b33c; */
    color: white;
}

.one .content .contentbar {
    margin: auto;
}

.one .content .contentbar h1 {
    color: #11a844;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
